@page
@model IndexModel
@{
    ViewData["Title"] = "Your strategy in a box!";
}

<div class="text-center">
    <h1 class="display-4">Our strategy</h1>
    <p style="font-size:14pt">
    Our strategy is @Model.AdjectiveSalad[0]. We will lead @Model.AdjectiveSalad[1].WithArticle() effort of 
    the market through our use of  @Model.NounSalad[0] and  @Model.NounSalad[1] to build     @Model.NounSalad[2].WithArticle(). By being both  @Model.AdjectiveSalad[2] and  @Model.AdjectiveSalad[3], our 
    @Model.AdjectiveSalad[4] approach will drive  @Model.NounSalad[3] throughout the organisation.
    </p>
    <p style="font-size:14pt">
    
    Synergies between our  @Model.NounSalad[4] and  @Model.NounSalad[5] will enable us to
    capture the upside by becoming  @Model.AdjectiveSalad[5] in @Model.AdjectiveSalad[6].WithArticle() world. 
    These transformations combined with  @Model.AdjectiveSalad[7] due to our @Model.NounSalad[6]
    will create @Model.NounSalad[7].WithArticle() through  @Model.NounSalad[8] and @Model.NounSalad[9].
    </p>
    <p class="text-muted pt-4">
        Don't like it? <a onclick="location.reload();" href="#">Refresh the page</a> for a new one!
    </p>
</div>
