@page
@model IndexModel
@{
    ViewData["Title"] = "Your strategy in a box!";
}

<div class="text-center">
    <h1 class="display-4">Our strategy</h1>
    <p style="font-size:14pt">
    Our strategy is @Model.AdjectiveSalad[5]. We will lead @Model.AdjectiveSalad[0].WithArticle() effort of 
    the market through our use of  @Model.NounSalad[1] and  @Model.NounSalad[2] to build     @Model.NounSalad[3].WithArticle(). By being both  @Model.AdjectiveSalad[1] and  @Model.AdjectiveSalad[2], our 
    @Model.AdjectiveSalad[3] approach will drive  @Model.NounSalad[4] throughout the organisation.
    </p>
    <p style="font-size:14pt">
    
    Synergies between our  @Model.NounSalad[5] and  @Model.NounSalad[6] will enable us to
    capture the upside by becoming  @Model.NounSalad[7] in @Model.AdjectiveSalad[4].WithArticle() world. 
    These transformations combined with  @Model.AdjectiveSalad[6] due to our @Model.NounSalad[9]
    will create @Model.NounSalad[10].WithArticle() through  @Model.NounSalad[11] and @Model.NounSalad[12].
    </p>
    <p class="text-muted pt-4">
        Don't like it? Refresh the page for a new one!
    </p>
</div>
