@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Our strategy</h1>
    <p style="font-size:14pt">
    Our strategy is @Model.WordSalad[0]. We will lead a  @Model.WordSalad[1] effort of 
    the market through our use of  @Model.WordSalad[2] and  @Model.WordSalad[3] to build a
    @Model.WordSalad[4]. By being both  @Model.WordSalad[5] and  @Model.WordSalad[6], our 
    @Model.WordSalad[7] approach will drive  @Model.WordSalad[8] throughout the organisation.
    </p>
    <p style="font-size:14pt">
    
    Synergies between our  @Model.WordSalad[9] and  @Model.WordSalad[10] will enable us to
    capture the upside by becoming  @Model.WordSalad[12] in a  @Model.WordSalad[13] world. 
    These transformations combined with  @Model.WordSalad[14] due to our @Model.WordSalad[15]
    will create a  @Model.WordSalad[16] through  @Model.WordSalad[17] and @Model.WordSalad[18].
    </p>
</div>
